# SET

In [1]:
set=set()

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [3]:
set
print(type(set))

<class 'set'>

In [5]:
st={1,2,4,6,7,4}
st
# it doesn't accept duplicate value
# set doesn't support indexing

{1, 2, 4, 6, 7}

In [12]:
set1={"Sweta","Gobardhan","Kuntala"}
set2={"Sweta","Gobardhan","Kuntala","Dalai"}

In [8]:
set2.difference(set1)

{'Dalai'}

In [9]:
set2.difference_update(set1)

In [10]:
set2

{'Dalai'}

In [11]:
set1

{'Gobardhan', 'Kuntala', 'Sweta'}

In [13]:
set1.intersection(set2)

{'Gobardhan', 'Kuntala', 'Sweta'}

# Dictionary

In [35]:
dict1={"name1":"Sweta","name2":"Padma","name3":"Dalai"}

In [36]:
dict1

{'name1': 'Sweta', 'name2': 'Padma', 'name3': 'Dalai'}

In [17]:
dec={}

In [19]:
type(dec)

dict

In [31]:
dict["name1"]

'Sweta'

In [40]:
#Adding New element into Dictionary
dict1["name4"]="Swetapadma"

In [41]:
dict1

{'name1': 'Sweta', 'name2': 'Padma', 'name3': 'Dalai', 'name4': 'Swetapadma'}

In [43]:
for i in dict1:
    print(i)

name1
name2
name3
name4

In [44]:
for i in dict1.values():
    print(i)

Sweta
Padma
Dalai
Swetapadma

In [45]:
for i in dict1.items():
    print(i)

('name1', 'Sweta')
('name2', 'Padma')
('name3', 'Dalai')
('name4', 'Swetapadma')

# Nested Dictionary

In [47]:
car1_model={'Mercedes':1960}
car2_model={"Audi":1970}
car3_model={"Maruti":1980}
car_type={"car1":car1_model,"car2":car2_model,"car2":car3_model}

In [48]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Maruti': 1980}}

In [50]:
car_type["car1"]["Mercedes"]

1960

# Tuples
It is same as list but not mutable.

In [51]:
# To create empty tuple
my_tuple=tuple()

In [52]:
my_tuple

()

In [53]:
tuple1=("Sweta","Padma","Dalai")

In [54]:
tuple1

('Sweta', 'Padma', 'Dalai')

In [56]:
# In tuple we have only two inbuilt functions
1. Index
2. count
tuple1.index("Padma")

1

In [57]:
tuple1.count("Sweta")

1