In [1]:
print(True,False)

True False

In [2]:
type(True)

bool

In [12]:
str="Swetapadma Dalai"

In [13]:
print(str.istitle())
print(str.isalnum())
print(str.isalpha())
print(str.isnumeric())
print(str.startswith("i"))
print(str.startswith("S"))

True
False
False
False
False
True

# Logical Operation with Boolean

In [14]:
True and True

True

In [15]:
True or True

True

In [16]:
True or False

True

In [17]:
False or False

False

# LIST

In [18]:
type([])

list

In [20]:
#inbuilt function to create a list
lst=list()
type(lst)

list

In [22]:
lst=["Data",12,"Sweta"]

In [25]:
print(lst,type(lst))

['Data', 12, 'Sweta'] <class 'list'>

# Appeend

In [27]:
lst.append(14)
lst

['Data', 12, 'Sweta', 14, 14]

In [28]:
lst.append("Dalai")

In [29]:
lst

['Data', 12, 'Sweta', 14, 14, 'Dalai']

# Indexing

In [30]:
lst[2]

'Sweta'

In [31]:
lst[4]

14

In [32]:
lst[2:]

['Sweta', 14, 14, 'Dalai']

# Insert(Function)

In [58]:
lst.insert(0,"Bapa")

In [59]:
lst

['Bapa', 'Bapa', 'Data', 12, 'Sweta', 14, 'Dalai', 4]

In [60]:
lst.append(["Hello","World"])

In [61]:
lst

['Bapa', 'Bapa', 'Data', 12, 'Sweta', 14, 'Dalai', 4, ['Hello', 'World']]

# Extend

In [62]:
lst.extend([4,8])

In [38]:
lst

['Bapa', 'Data', 12, 'Sweta', 14, 14, 'Dalai', ['Hello', 'World'], 4, 8]

# POP(To pickup a specific value)

In [40]:
lst.pop()

8

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [42]:
lst.pop(5)

14

In [43]:
lst

['Bapa', 'Data', 12, 'Sweta', 14, 'Dalai', ['Hello', 'World'], 4]

In [44]:
lst.pop(6)

['Hello', 'World']

In [45]:
lst

['Bapa', 'Data', 12, 'Sweta', 14, 'Dalai', 4]

# Count(calculate the total occurance of an element in a list)

In [49]:
lst.count("Sweta")

1

In [50]:
len(lst)

7

In [52]:
lst.index("Dalai")

5

In [54]:
list=[1,2,4,5,6]

In [56]:
list*2

[1, 2, 4, 5, 6, 1, 2, 4, 5, 6]

In [57]:
sum(list)

18